<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" *ngIf="authService.isAuthenticated()">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">E02-Cardio Monitor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="navbar-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" routerLink="/summary" routerLinkActive="active">Summary</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" routerLink="/reports" routerLinkActive="active">Reports</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <button class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>